[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/usr/bin/kanata --cfg ${HOME}/.config/kanata/config.kbd

[Install]
WantedBy=default.target
