{{- if ne .deviceConfig.installType "wsl" -}}
	.chezmoiscripts/run_once_install-gcm-wsl.sh.tmpl
{{ end -}}

{{- if eq .deviceConfig.installType "termux" -}}
	.chezmoiscripts/run_00-setup-sudo-caching.sh
	.dot_termux/*
{{- else -}}
{{ end -}}

packages/*
extras/*
others/*