{{- if ne .deviceConfig.osType "arch" -}}
.chezmoiscripts/run_onchange_install-1-external-packages.tmpl
{{ end -}}

{{- if ne .deviceConfig.installType "wsl" -}}
.chezmoiscripts/run_onchange_install-1-gcm-wsl.sh.tmpl
{{ end -}}

{{- if eq .deviceConfig.installType "termux" -}}
.chezmoiscripts/run_before_00-setup-sudo-caching.sh
.dot_termux/*
{{- else -}}
{{ end -}}

packages/*
extras/*
others/*