{
  BasedOnStyle: Google,
  ConstructorInitializerIndentWidth: 2,
  ContinuationIndentWidth: 2,
  IndentWidth: 2,
  TabWidth: 2,
  UseTab: Never,
  AccessModifierOffset: -2,
  AlignArrayOfStructures: Right,
  AllowShortBlocksOnASingleLine: Always,
  AllowShortCaseLabelsOnASingleLine: false,
  AllowShortEnumsOnASingleLine: false,
  AllowShortFunctionsOnASingleLine: All,
  AllowShortIfStatementsOnASingleLine: AllIfsAndElse,
  AllowShortLambdasOnASingleLine: Inline,
  AllowShortLoopsOnASingleLine: true,
  IncludeBlocks: Regroup,
  IndentAccessModifiers: true,
  FixNamespaceComments: true,
  NamespaceIndentation: All
}
