{ 
  BasedOnStyle: Google, 
  UseTab: Never, 
  IndentWidth: 2, 
  ConstructorInitializerIndentWidth: 2,
  ContinuationIndentWidth: 2,
  TabWidth: 2, 
  AccessModifierOffset: 0,
  AlignArrayOfStructures: Right, 
  AllowShortBlocksOnASingleLine: Always,
  AllowShortCaseLabelsOnASingleLine: false,
  AllowShortEnumsOnASingleLine: false,
  AllowShortFunctionsOnASingleLine: All,
  AllowShortIfStatementsOnASingleLine: AllIfsAndElse,
  AllowShortLambdasOnASingleLine: Inline,
  AllowShortLoopsOnASingleLine: true,
  IncludeBlocks: Regroup,
  IndentAccessModifiers: true,
  FixNamespaceComments: true,
  NamespaceIndentation: All
}
