{{- $pathPrefix := "" -}}
{{- $gitCredHelper := "manager" -}}
{{- $gitCredStore := "secretservice" -}}
{{- if eq .deviceConfig.installType "wsl" -}}
	{{- $pathPrefix = output "wslpath" "-m" "/" | trimAll "/\n" -}}
  {{- $gitCredHelper = "/usr/local/share/gcm/git-credential-manager.exe" -}}
  {{- $gitCredStore = "wincredman" -}}
{{- end -}}

[user]
  name = {{ .user.name }}
  email = {{ .user.email }}

[credential]
{{- if  ne .deviceConfig.installType "termux" }}
  helper = {{ $gitCredHelper }}
  credentialStore = {{ $gitCredStore }}

[credential "https://dev.azure.com"]
  useHttpPath = true

[credential "https://github.com"]
  useHttpPath = false
  provider = generic

{{ else if eq .deviceConfig.installType "termux" }}
  helper = !gh auth git-credential
{{ end -}}

[alias]
  history = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative 

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[diff]
  colorMoved = default

[merge]
  conflictstyle = diff3

[delta]
  features = decorations
  file-added-label = "added:"
  file-modified-label = "modified:"
  file-removed-label = 'removed:'
  file-renamed-label = 'renamed:'
  hunk-header-style =
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{{ $pathPrefix }}/{path}:{line}"
  line-numbers = true
  navigate = true
  pager = less
  true-color = always
  tabs = 2

[delta "interactive"]
  keep-plus-minus-markers = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main

[fetch]
  prune = true

[push]
  autoSetupRemote = true
