#!/bin/bash
# shellcheck enable=require-variable-braces
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

[[ $- != *i* ]] && return

case ${TERM} in
  Eterm* | alacritty* | aterm* | foot* | gnome* | konsole* | kterm* | putty* | rxvt* | tmux* | xterm*)
    # shellcheck disable=SC2016
    PROMPT_COMMAND+=('printf "\e]0;%s@%s: %s\007" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"');;
  screen*)
    # shellcheck disable=SC2016
    PROMPT_COMMAND+=('printf "\e_%s@%s: %s\e\\" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"');;
esac

if [[ ${EUID} == 0 ]]; then
  PS1='${SUDO_USER:+(\[\e[01;33m$SUDO_USER\e[0m\]) }\[\e[01;31m\]\u@\h\[\e[00m\]: \[\e[01;34m\]\w\[\e[00m\] \n \[\e[01;31m\]\$_\[\e[00m\] '
else
  PS1='\[\e[01;32m\]\u@\h\[\e[00m\]: \[\e[01;34m\]\w\[\e[00m\] \n \[\e[01;32m\]\$_\[\e[00m\] '
fi

bind 'set completion-ignore-case on'
bind 'set match-hidden-files off'
bind -x '"\C-l":clear'
shopt -s autocd
shopt -s cdspell
shopt -s checkwinsize
shopt -s dirspell
shopt -s expand_aliases
shopt -s histappend
shopt -s no_empty_cmd_completion
shopt -s progcomp
shopt -s progcomp_alias
set -C

if [[ -r "${PREFIX:-/usr}/share/bash-completion/bash_completion" ]]; then
  # shellcheck disable=SC1091
  . "${PREFIX:-/usr}/share/bash-completion/bash_completion"
fi

#{{ if eq .deviceConfig.installType "termux" -}}
# shellcheck disable=SC1091,SC1094,SC2153
. "${PREFIX}/share/blesh/ble.sh"
#{{- else if ne .deviceConfig.osType "arch" -}}
# shellcheck disable=SC1091,SC1094
. "/usr/local/share/blesh/ble.sh"
#{{- else -}}
# shellcheck disable=SC1091,SC1094
. "/usr/share/blesh/ble.sh"
#{{- end }}

alias() {
  local arg alias_name alias_value

  builtin alias "$@"

  for arg in "$@"; do
    if [[ ${arg} =~ ^([^=]+)=[\'\"]?(.*)[\'\"]?$ ]]; then
      alias_name="${BASH_REMATCH[1]}"
      mapfile -t alias_value <<< "${BASH_REMATCH[2]}"
      [[ "${alias_name}" != "${alias_value[0]}" ]] && complete -r "${alias_name}" &>/dev/null
    fi
  done
}

if [[ -r ~/.bash_tweaks ]]; then
  # shellcheck disable=SC1090
  . ~/.bash_tweaks
fi

HISTCONTROL=ignoreboth

if [[ "${TERM}" != "linux" ]]; then
  _ls_icons="--icons"
fi

# shellcheck disable=SC2139
alias ls="eza -ghoM --smart-group --git --no-time --no-permissions --group-directories-first --hyperlink --no-quotes -I .git ${_ls_icons}"
# shellcheck disable=SC2139
alias tree="eza -ghoMT --smart-group --git --no-time --no-permissions --group-directories-first --hyperlink --no-quotes -I .git ${_ls_icons}"

#{{- $bat := "bat" -}}
#{{- if eq .deviceConfig.osType "ubuntu" -}}
#{{-    $bat = "batcat" -}}
#{{- end }}

# shellcheck disable=SC2139,SC2154,SC2250
alias cat="#{{ $bat }} -p"
alias rm="rm -I"

if command -v virtualenv &>/dev/null; then
  alias venv="virtualenv"
else
  alias venv="python3 -m venv"
fi

#{{ if ne .deviceConfig.installType "termux" -}}
alias sudo="sudo "
alias ctl="systemctl"

#{{ end -}}

# shellcheck disable=SC1083,SC1073,SC1009
help() {
 {
    if [[ "$1" == "-c" ]]; then
      shift; "$@" --help; return
    fi

    if [[ "$(type -t "$@" 2>/dev/null)" == "alias" ]] &>/dev/null; then
      local name="$1"
      local -a alias_cmd

      read -r -a alias_cmd <<< "$(alias "${name}" | cut -d\' -f2)"

      echo -ne "Alias definition:\n  "
      alias "${name}"

      shift; echo; "${alias_cmd[@]}" "$@" --help 2>/dev/null
      return
    fi

    if command help "$1" &>/dev/null; then
      command help "$@"; return
    fi

    "$@" --help 2>/dev/null
  } | exec #{{ $bat }} -pl help
}

#{{ if not (hasKey . "nonRootUser" ) -}}
if [[ -d "#{{ .chezmoi.workingTree }}/extras" ]]; then
  for file in "#{{ .chezmoi.workingTree }}/extras"/*.sh; do
    if [[ -f "${file}" ]]; then
      # shellcheck disable=SC1090
      . "${file}"
    fi
  done
fi

#{{   if eq .deviceConfig.installType "desktop" -}}
if [[ "${TERM_PROGRAM}" == "vscode" ]]; then
  # shellcheck disable=SC1090
  . "$(code --locate-shell-integration-path bash 2>/dev/null)"
fi

#{{   end -}}

#{{-   if eq (env "XDG_SESSION_DESKTOP") "GNOME" }}

alias logout="gnome-session-quit --no-prompt"

#{{   end -}}
#{{ end -}}