#!/bin/bash
# shellcheck disable=all

{{ $packages := include "packages/termux.yaml" | fromYaml -}}
# packages checksum: {{ $packages | toString | sha1sum }}

{{ includeTemplate "utils/logger.sh.tmpl" . }}
{{ includeTemplate "utils/filter_installed.sh" . | trim }}

{

  {{- $allPackages := list -}}
  {{- $allPackages = concat $allPackages $packages.common }}

  packages_to_install=({{ join " " $allPackages }})

  mapfile -t packages_filtered < <(filter_installed dpkg-query -W -f="${package}\n" "2>/dev/null" -- "${packages_to_install[@]}")

  if (( ${#packages_filtered[@]} )); then
    log_info "Installing Termux Packages"
    pkg update
    pkg upgrade -y "${packages_filtered[@]}"
  else
    log_info "All packages are already installed."
  fi

}
