[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
User=root
ExecStart=/usr/bin/kanata --cfg /etc/kanata/config.kbd

[Install]
WantedBy=default.target
