{{- $chezmoiData := deepCopy . -}}
{{- $chezmoiData = unset $chezmoiData "chezmoi" -}}

{{- $sourceDir := joinPath .chezmoi.workingTree "root" -}}
sourceDir: "{{ $sourceDir }}"

destDir: "{{ joinPath (env "PREFIX") "/" }}"

diff:
  exclude:
    - scripts
status:
  exclude:
    - always

data:
  nonRootUser: "{{ .chezmoi.username }}"
  {{- $chezmoiData | toYaml | nindent 2 }}