{{- if eq .chezmoi.os "linux" -}}
{{-   if and (eq .chezmoi.os "android") (contains "com.termux" (env "PREFIX")) -}}termux
{{-   else -}}
{{-     $defaultTarget := output "systemctl" "get-default" | trim -}}
    
{{-     if hasSuffix "WSL2" (output "uname" "-r" | trim) -}}wsl
{{-     else if hasPrefix "graphical" $defaultTarget -}}desktop
{{-     else -}}server
{{-     end -}}
{{-   end -}}
{{- end -}}
